*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

html{
scroll-behavior:smooth;
}

body{

background:#fff8f2;
color:#333;

}

nav{

display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
background:#6f4e37;
color:white;

}

nav ul{

display:flex;
list-style:none;
gap:25px;

}

nav a{

color:white;
text-decoration:none;

}

nav button{

padding:8px 12px;
cursor:pointer;

}

.hero{

display:flex;
justify-content:space-around;
align-items:center;
padding:60px;

}

.hero img{

width:420px;
border-radius:15px;

}

.hero h1{

font-size:45px;
margin-bottom:15px;

}

.hero button{

margin-top:20px;
padding:12px 25px;
background:#6f4e37;
color:white;
border:none;
cursor:pointer;

}

#menu{

padding:60px;
text-align:center;

}

.cards{

display:flex;
justify-content:center;
gap:30px;
margin-top:30px;

}

.card{

background:white;
padding:20px;
border-radius:15px;
box-shadow:0 0 10px gray;
transition:.3s;

}

.card:hover{

transform:translateY(-10px);

}

.card img{

width:220px;
height:220px;
object-fit:cover;
border-radius:10px;

}

#about{

padding:60px;
text-align:center;

}

#about img{

width:500px;
margin:25px;
border-radius:15px;

}

#contact{

padding:60px;
text-align:center;

}

form{

display:flex;
flex-direction:column;
width:350px;
margin:auto;
gap:15px;

}

input,textarea{

padding:12px;

}

form button{

padding:12px;
background:#6f4e37;
color:white;
border:none;

}

footer{

text-align:center;
padding:20px;
background:#6f4e37;
color:white;

}

.dark{

background:#222;
color:white;

}

.dark .card{

background:#444;
color:white;

}

.dark nav{

background:#111;

}

.dark footer{

background:#111;

}